<div class="related-beers__item">
    <h3>
        <a href="/{{id}}">{{name}}</a>
    </h3>
    <a href="/{{id}}">
        <img src="{{image_url}}"/>
    </a>
    <p>Alcohol by volume: {{abv}}%</p>
</div>